body {
    background-image: url(https://img.pikbest.com/backgrounds/20241215/abstract-blue-background-with-some-smooth-lines-in-it--28see-more-my-portfolio-29_11256315.jpg!f305cw);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active, .inactive {
    float: left;
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.active {
    background-color: rgb(203, 88, 235);
}

.page {
    display: inline;
}

.page a:hover {
    background-color: purple;
}

#color-changer {
    margin-left: 43.5%;
    margin-right: 43.5%;
}
 
main {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(rgb(235, 95, 251),#36caf3,#bb62e1);
    border-style: double;
    border-width: 5px;
}

h1 {
    padding-top: 1%;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    margin-top: -1.5%;
    text-align: center;
    font-size: 20px;
}

ul {
    font-size: 20px;
}

hr {
    height: 2px;
    width: 50%;
    background-color: purple;
    border-color: purple;
  }

.about_me {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.langs {
    margin-top: -1%;
    margin-left: 40%;
}

.lang {
    margin-bottom: 3%;
}

.lang_img {
    margin-bottom: -2.5%;
}

.projects p {
    margin-top: -15px;
    margin-bottom: -5px;
}

.projects table {
    margin-left: auto;
    margin-right: auto;
}

.projects table, .projects th, .projects td {
    max-width: 500px;
    min-width: 150px;
    border: 1px solid #110815;
    background-color: rgb(207, 169, 241);
}

.experience table, th, td {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 225px;
    border: 1px solid #110815;
    background-color: rgb(207, 169, 241);
}

.bullets ul {
    margin-top: 5px;
}

.bullets li {
    margin-left: 34%;
}