<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <h3 style="color: white;">I'm a rising second-year at Northeastern University, studying computer science with plans for a minor in math and a concentration in artificial intelligence. This summer, I'll be working at Coverys as an Information Technology intern, translating regression tests for the company. In my spare time, I like to code fun projects, play the French Horn/Mellophone, and go for runs.</h3>
            </div>
        </div>
        <div class="row text-center">
            <h4 style="color: white;">To reach me, contact szeto.ai@northeastern.edu. All code can be provided upon request!</h4>
        </div>
    </div>
</section>
