<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/coverys.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Jun - Aug 2025</h5>
                                    <h4 class="subheading">Coverys</h4>
                                    <h5 class="subheading">Information Technology Intern</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Expanding on my testing skills gained from Logic and Computation (CS2800), I analyze and update Regression Tests for company data.</br></br>Skills: C++, Microsoft Excel, Azure DevOps</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/knack.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Dec 2024 - May 2025</h5>
                                    <h4 class="subheading">Knack Tutoring</h4>
                                    <h5 class="subheading">Peer Tutor</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continuing my role as a tutor, I instructed in programming and mathematics related courses such as the Fundamentals of CS (CS2500) and Mathematical Reasoning (MATH1365).</br>Skills: Program Design, Racket, Mathematical Proofs, Teaching</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/nu.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Sep 2024 - May 2028</h5>
                                    <h4 class="subheading">Northeastern University</h4>
                                    <h5 class="subheading">Officially enrolled at Northeastern</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Began my career at Northeastern as a Computer Science major, with plans for a minor in Mathematics and a concentration in Artificial Intelligence.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/idtech.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Jun - Aug 2024</h5>
                                    <h4 class="subheading">ID Tech Camps</h4>
                                    <h5 class="subheading">Online Programming Instructor</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Held classes and one-on-one STEM courses, fostering computational thinking in students.</br>Skills: Python, Calculus, Game Development, Teaching</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/ds.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Jun 2024</h5>
                                    <h4 class="subheading">Dover Sherborn Regional High School</h4>
                                    <h5 class="subheading">Graduation</h5>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/bays.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Sep 2018 - Jun 2024</h5>
                                    <h4 class="subheading">Boston Area Youth Soccer</h4>
                                    <h5 class="subheading">Soccer Referee | Referee Mentor</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Throughout my high school journey, I officiated games for local soccer teams and provided real-time guidance to referee trainees.</br>Skills: Public Speaking, Crowd Management, Teaching</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>